# Name: Wrapper scikit-image

# Author: Daniel Sage @ EPFL
# Version: 1.0.0
# Date: 23.10.2023

Plugins>Wrapper scikit-image, "Gaussian Filter", ch.epfl.skimage.process.WrapperScikitImageGaussian("")
Plugins>Wrapper scikit-image, "Segmentation Snake", ch.epfl.skimage.process.WrapperScikitImageSnake("")
